<h3 class="ui header">{{t "forms.i-i-s-otdel-kadrov-сотрудник-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iDдолжности
      class=(if (v-get validationModel "iDдолжности" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-kadrov-сотрудник-e.iDдолжности-caption")
      data-test-i-i-s-otdel-kadrov-сотрудник-e-iDдолжности=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iDдолжности" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iDПодразделения
      class=(if (v-get validationModel "iDПодразделения" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-kadrov-сотрудник-e.iDПодразделения-caption")
      data-test-i-i-s-otdel-kadrov-сотрудник-e-iDПодразделения=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iDПодразделения" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-kadrov-сотрудник-e.должности-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.должности
      relationName="должности"
      projection="ДолжностиL"
      title=(t "forms.i-i-s-otdel-kadrov-сотрудник-e.должности-caption")
      readonly=readonly
      componentName="должностиLookup"
      class=(if (v-get validationModel "должности" "isInvalid") "error")
      data-test-i-i-s-otdel-kadrov-сотрудник-e-должности=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "должности" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-kadrov-сотрудник-e.подразделения-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.подразделения
      relationName="подразделения"
      projection="ПодразделенияL"
      title=(t "forms.i-i-s-otdel-kadrov-сотрудник-e.подразделения-caption")
      readonly=readonly
      componentName="подразделенияLookup"
      class=(if (v-get validationModel "подразделения" "isInvalid") "error")
      data-test-i-i-s-otdel-kadrov-сотрудник-e-подразделения=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "подразделения" "message")}}
  </div>
</form>
